@import './vars/index.scss';

.main {
  padding-top: 29.3rem;
  background-image: url(../images/e-click/top-bg-1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 180.6rem;
  @media (max-width: 640px) {
    padding-top: calc(26.25% + 7rem);
    background-image: url(../images/e-click/top-bg-2.png);
    background-size: 100%;
    background-position: top 7rem center;
  }

  section + section {
    margin-top: 13rem;
  }
}

.title h2 {
  &::before {
    width: 8.1rem;
    height: 9rem;
    top: 45%;
    right: 0;
    transform: translate(70%, -50%);
    background-image: url(../images/e-click/tree-1.png);
    background-size: cover;
    z-index: 0;
  }
  &::after {
    width: 5.6rem;
    height: 4.8rem;
    bottom: 0;
    left: 0;
    background-image: url(../images/e-click/tree-3.png);
    background-size: cover;
    z-index: 0;
    transform: translate(-60%, -10%);
  }
  p {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 6.9rem;
      height: 8.4rem;
      bottom: 1rem;
      left: 0;
      background-image: url(../images/e-click/tree-2.png);
      background-size: cover;
      z-index: 2;
      transform: translate(-50%, 10%);
    }
    span:nth-child(1) {
      margin: 0;
      transform: translate(0.5rem, -0.5rem);
    }
  }
}

.swiper-slide-1 .pic {
  background-image: url(../images/e-click/slider-pc-1.png);
  @media (max-width: 768px) {
    background-image: url(../images/e-click/slider-m-1.png);
  }
}

.swiper-slide-2 .pic {
  background-image: url(../images/e-click/slider-pc-2.png);
  @media (max-width: 768px) {
    background-image: url(../images/e-click/slider-m-2.png);
  }
}

.swiper-slide-3 .pic {
  background-image: url(../images/e-click/slider-pc-3.png);
  @media (max-width: 768px) {
    background-image: url(../images/e-click/slider-m-3.png);
  }
}

.app {
  .app_device {
    .ios .qrcode {
      background-image: url(../images/e-click/qrcode-ios.jpg) !important;
    }
    .android .qrcode {
      background-image: url(../images/e-click/qrcode-android.jpg) !important;
    }
  }
}
