@import './vars/index.scss';

body {
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 29.3rem;
  background-image: url(../images/guide/top-bg-1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 173.2rem;
  @media (max-width: 875px) {
    background-image: url(../images/guide/top-bg-3.png);
  }
  @media (max-width: 640px) {
    padding-top: calc(22.34375% + 7rem);
    background-image: url(../images/guide/top-bg-2.png);
    background-size: 100%;
    background-position: top 7rem center;
  }
}

.guide {
  .wrap {
    position: relative;
    max-width: 122.3rem;
    width: 100%;
    margin: auto;
    background-image: url(../images/paper-head-1.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 23.5rem;
    @media (max-width: 996px) {
      background-image: url(../images/paper-head-2.png);
      max-width: none;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 58.7rem;
      left: 50.5%;
      transform: translate(-50%, 0);
      background-image: url(../images/paper-body-1.png);
      background-size: 99.7% auto;
      background-position: top center;
      background-repeat: repeat-y;
      z-index: 0;
      @media (max-width: 1240px) {
        top: 47vw;
        left: 50.45%;
      }
      @media (max-width: 1060px) {
        top: 58.7rem;
        left: 50.5%;
      }
      @media (max-width: 996px) {
        top: 47vw;
        left: 50%;
        background-image: url(../images/paper-body-2.png);
        background-size: 100% auto;
      }
    }
  }
}

.title {
  position: absolute;
  z-index: 10;
  left: 1.2rem;
  top: 3.5rem;
  @media (max-width: 640px) {
    top: 2.5rem;
    left: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 40.2rem;
    height: 26.7rem;
    background-image: url(../images/guide/sign-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 6.5rem;
    bottom: 2.2rem;
    z-index: 0;
    @media (max-width: 640px) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 9.7rem;
    height: 9rem;
    background-image: url(../images/guide/tree-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: -5.5rem;
    bottom: 0;
    @media (max-width: 640px) {
      width: 4.7rem;
      height: 6.6rem;
      background-image: url(../images/guide/tree-2.png);
      left: 0;
      bottom: -1rem;
    }
  }
  h2 {
    width: 48.2rem;
    height: 8.4rem;
    background-image: url(../images/wood-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 640px) {
      width: 43.7rem;
      height: 7rem;
      background-image: url(../images/wood-2.png);
    }
    &::after,
    &::before {
      display: none;
    }
    p {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
      width: auto;
      transform: translateY(0.5rem);
      border-radius: 0;
      span {
        display: inline-block;
        &:nth-child(1) {
          font-size: 4rem;
          @media (max-width: 640px) {
            font-size: 3.4rem;
          }
        }
        &:nth-child(2) {
          font-size: 2.8rem;
          background-color: $c-brown;
          border-radius: 9999px;
          padding: 1rem 2rem;
          @media (max-width: 640px) {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

.pages {
  width: calc(681 / 1223 * 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  bottom: calc(100% - 6rem);
  right: 0;
  transform-origin: center bottom;
  @media (max-width: 875px) {
    position: relative;
    bottom: auto;
    right: auto;
    padding-top: 10rem;
    width: 520px;
    margin: 0 auto;
  }
  @media (max-width: 640px) {
    width: 80%;
  }
  .page {
    width: calc(100% / 3);
    height: 0;
    padding-bottom: calc(250 / 681 * 100%);
    position: relative;
    cursor: pointer;
    @media (max-width: 875px) {
      padding-bottom: calc(169.55 / 520 * 100%);
    }
    &::after {
      position: absolute;
      content: '';
      width: 81.93832599118943%;
      height: 0;
      padding-bottom: 93.3920704845815%;
      background-repeat: no-repeat;
      background-position: bottom 35.935484% right;
      background-size: 229% auto;
      bottom: 1.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      @media (max-width: 875px) {
        width: 80%;
        padding-bottom: 80%;
        background-position: bottom 39.935484% right;
        background-size: 253% auto;
      }
    }
    &_e-click::after {
      background-image: url(../images/guide/tab-1-pc.png);
      @media (max-width: 875px) {
        background-image: url(../images/guide/tab-1-m.png);
      }
    }
    &_e::after {
      background-image: url(../images/guide/tab-2-pc.png);
      @media (max-width: 875px) {
        background-image: url(../images/guide/tab-2-m.png);
      }
    }
    &_smart::after {
      background-image: url(../images/guide/tab-3-pc.png);
      @media (max-width: 875px) {
        background-image: url(../images/guide/tab-3-m.png);
      }
    }
    &.active {
      &::after {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        background-position: bottom left;
        background-size: auto 100%;
      }
    }
    @media (min-width: 769px) {
      &:hover {
        &::after {
          width: 100%;
          height: 100%;
          padding-bottom: 0;
          background-position: bottom left;
          background-size: auto 100%;
        }
      }
    }
  }
}

.search {
  position: relative;
  z-index: 1;
  width: 23rem;
  margin: 1.5rem;
  @media (max-width: 640px) {
    margin: 1.5rem 1rem;
  }
  .bar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid $c-secondary;
    background-color: $c-secondary;
    box-shadow: 0 0.5rem 0.5rem #f0c572;
    @media (max-width: 640px) {
      border: 2px solid $c-secondary;
      box-shadow: 0 5px 5px #f0c572;
      box-shadow: 0 4px 4px #f0c572;
    }
    input {
      display: block;
      width: calc(100% - 6rem);
      height: 100%;
      appearance: none;
      border: none;
      font-size: 2.8rem;
      padding: 0.5rem 1.5rem;
      background-color: #fff;
      color: #000;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .button {
      width: 6rem;
      height: auto;
      background-color: $c-secondary;
      cursor: pointer;
      background-position: center center;
      background-repeat: no-repeat;
      &.search_btn {
        background-image: url(../images/guide/icon-search-1.png);
        background-size: 4rem auto;
      }
      &.close_btn {
        background-image: url(../images/guide/icon-close-1.png);
        background-size: 4rem auto;
        display: none;
      }
    }
  }
}

.tabs {
  position: relative;
  margin: 2rem auto 0;
  width: 95%;
  z-index: 1;
  padding-top: 11.5rem;
  &.active {
    .tab {
      display: none;
    }
  }
  @media (max-width: 875px) {
    width: 85%;
    padding-top: 12%;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 0;
      padding-bottom: 12.1875%;
      top: 0;
      left: 0;
      background-image: url(../images/guide/mountain-3.png);
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  @media (max-width: 640px) {
    padding-top: 15%;
    width: 97%;
  }
  .tab_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tab {
    width: 16rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem 0;
    border-radius: 9999px;
    background-color: #f18e01;
    cursor: pointer;
    position: relative;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    box-shadow: 0.4rem 0.4rem 0 #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background-color: $c-secondary;
      box-shadow: 0.4rem 0.4rem 0 #85dcde;
      .icon {
        background-position: center left;
      }
    }
    @media (min-width: 640px) {
      &:hover {
        background-color: $c-secondary;
        box-shadow: 0.4rem 0.4rem 0 #85dcde;
        .icon {
          background-position: center left;
        }
      }
    }
    @media (max-width: 875px) {
      width: 17rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      margin: 1.5rem 1rem;
    }
    &:not(:first-child) {
      margin-left: 1rem;
      @media (max-width: 640px) {
        margin-left: 0;
      }
    }
    .icon {
      width: 4.8rem;
      height: 4.8rem;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 10rem auto;
      @media (max-width: 875px) {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-right: 0.5rem;
      }
    }
  }
}

.sign {
  position: relative;
  z-index: 2;
  margin-top: 2.5rem;
  text-align: center;
  &::after,
  &::before {
    position: absolute;
    content: '';
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    top: 50%;
    transform: translate(0, -50%);
    @media (max-width: 875px) {
      display: none;
    }
  }
  &::before {
    width: 20.6rem;
    height: 8.5rem;
    background-image: url(../images/guide/mountain-1.png);
    left: 1.2%;
  }
  &::after {
    width: 21.7rem;
    height: 10.3rem;
    background-image: url(../images/guide/mountain-2.png);
    right: 1%;
  }
  .sign_group {
    position: relative;
    display: block;
    white-space: nowrap;
    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .sign_btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 12.1rem;
    background-repeat: no-repeat;
    background-position: center right;
    @media (min-width: 640px) {
      &:hover {
        background-position: center left;
      }
    }
    &.active {
      background-position: center left;
      cursor: default;
    }
    &.sign_android {
      width: 41.1rem;
      background-image: url(../images/guide/wood-android-1.png);
      background-size: 85rem auto;
      @media (max-width: 640px) {
        width: 52%;
        height: 0;
        padding-bottom: 16.60240963855422%;
        background-image: url(../images/guide/wood-android-2.png);
        background-size: auto 100%;
      }
    }
    &.sign_ios {
      width: 40.5rem;
      background-image: url(../images/guide/wood-ios-1.png);
      background-size: 82rem auto;
      margin: -0.5rem 0 0 -2.5rem;
      @media (max-width: 640px) {
        width: 52%;
        height: 0;
        padding-bottom: 16.7030303030303%;
        background-image: url(../images/guide/wood-ios-2.png);
        background-size: auto 100%;
      }
    }
  }
}

.guide .content {
  position: relative;
  z-index: 1;
  margin-top: 5rem;
  li {
    &:last-child .line {
      display: none;
    }
  }
  .descriptions {
  }
  .no-result {
    display: none;
    text-align: center;
    img {
      width: 52.9rem;
      @media (max-width: 640px) {
        width: 70%;
      }
    }
  }
  li + li {
    margin-top: 5rem;
  }
  .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 3.8rem;
    color: $c-brown;
    font-weight: 700;
    @media (max-width: 768px) {
      padding: 0 2%;
      display: block;
    }
    @media (max-width: 380px) {
      font-size: 3.4rem;
    }
    &.caption_default {
      @media (max-width: 768px) {
        display: flex;
      }
      .icon {
        .text {
          display: none;
        }
      }
      p {
        margin-top: 0;
        text-align: left;
      }
    }
    .icon {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.4rem;
      .pic {
        width: 11.5rem;
        height: 9.3rem;
        background-image: url(../images/guide/treasure-1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
      }
      .text {
        background-color: #f3c245;
        padding: 1rem 2rem 1.2rem 5rem;
        border-radius: 0 9999px 9999px 0;
        margin-left: -4rem;
        white-space: nowrap;
      }
    }
    p {
      line-height: 1.2;
      text-align: left;
      @media (max-width: 768px) {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4rem;
    overflow: hidden;
    padding-bottom: 0.5rem;
    @media (max-width: 640px) {
      align-items: flex-start;
    }
    .group {
      width: 33%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      &:not(:first-child) {
        &::after {
          position: absolute;
          content: '';
          width: 5.8rem;
          height: 4.2rem;
          background-image: url(../images/guide/anchor-1.png);
          background-size: 100% 100%;
          bottom: 25rem;
          left: 0;
          transform: translate(-50%, -50%);
          @media (max-width: 640px) {
            transform: translate(-50%, -50%) scale(0.5);
            top: 20rem;
            bottom: auto;
          }
        }
      }
      .pic,
      .text {
        width: 70%;
        margin: auto;
        @media (max-width: 640px) {
          width: 80%;
        }
      }
      .pic {
        border: 2px solid #f6aa08;
        box-shadow: 0.5rem 0.5rem 0 #f8b727;
      }
      .text {
        font-size: 19px;
        text-align: left;
        margin-bottom: 2rem;
        line-height: 1.5;
        padding: 0 1rem;
        text-align: justify;
        @media (max-width: 640px) {
          padding: 0;
          font-size: 15px;
          &.text-pc {
            display: none;
          }
        }
      }
      .text-m {
        margin-top: 2rem;
        display: none;
        @media (max-width: 640px) {
          display: block;
        }
      }
    }
  }
  .line {
    margin-top: 3rem;
    img {
      display: inline-block;
      width: 121.9rem;
      height: auto;
      position: relative;
      left: 1.5%;
      @media (max-width: 996px) {
        left: 0;
        width: 100%;
      }
    }
  }
}
