<header id="header" class="">
  <div class="wrap">
    <a class="logo" href="./index.html" megais_ga="menu_logo"></a>
    <div class="menu_toggle" megais_ga="menu_toggle"></div>
    <div id="menu">
      <ul>
        <li class="menu_btn menu_smart">
          <a href="./smart-app.html" megais_ga="menu_smart">
            <div class="pic"></div>
            <div class="text">
              <span class="top">新手村</span>
              <span class="bottom">富邦智選股</span>
            </div>
          </a>
        </li>
        <li class="menu_btn menu_e-click">
          <a href="./etrade-app.html" megais_ga="menu_etrade">
            <div class="pic"></div>
            <div class="text">
              <span class="top">冒險島</span>
              <span class="bottom"><span>ｅ</span>點通</span>
            </div>
          </a>
        </li>
        <li class="menu_btn menu_fund">
          <a href="./fund.html" megais_ga="menu_fund">
            <div class="pic"></div>
            <div class="text">
              <span class="top">礦山</span>
              <span class="bottom">基金平台</span>
            </div>
          </a>
        </li>
        <li class="menu_btn menu_teaching arrow">
          <a href="javascript:;">
            <div class="pic"></div>
            <div class="text">
              <span class="top">探險指南</span>
              <span class="bottom">圖解與影音</span>
            </div>
          </a>
          <div class="submenu">
            <ul>
              <li class="submenu_desciprtion">
                <a href="./guide.html###tab" megais_ga="menu_guide">
                  <div class="pic"></div>
                  <div class="text">
                    <span class="top">生存說明</span>
                    <span class="bottom">懶人包圖文</span>
                  </div>
                </a>
              </li>
              <li class="submenu_video">
                <a href="./video.html" megais_ga="menu_video">
                  <div class="pic"></div>
                  <div class="text">
                    <span class="top">無人島探險</span>
                    <span class="bottom">圖解與影音</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu_btn menu_home">
          <a href="./index.html" megais_ga="menu_home">
            <div class="pic"></div>
          </a>
        </li>
        <li class="menu_btn menu_web">
          <a href="javascript:;">
            <div class="pic"></div>
          </a>
          <div class="submenu">
            <ul>
              <li class="submenu_fb">
                <a href="javascript:;" megais_ga="menu_fb" class="fb_share">
                  <div class="pic"></div>
                  <div class="text">
                    <span class="top">FB分享</span>
                  </div>
                </a>
              </li>
              <li class="submenu_line">
                <a
                  href="javascript:;"
                  megais_ga="menu_line"
                  class="line_share"
                  target="_blank"
                >
                  <div class="pic"></div>
                  <div class="text">
                    <span class="top">LINE分享</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="menu_btn menu_mobile">
          <a class="menu_m_home" href="./index.html" megais_ga="menu_home"></a>
          <a
            class="menu_m_fb fb_share"
            href="javascript:;"
            megais_ga="menu_fb"
          ></a>
          <a
            class="menu_m_line line_share"
            href="javascript:;"
            megais_ga="menu_line"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
