<meta
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover"
  name="viewport"
/>
<meta property="og:type" content="website" />
<!-- <meta property="og:url" content="https://www.fubon.com/securities/i-land/" />
<meta
  property="og:image"
  content="https://www.fubon.com/securities/i-land/images/fb_share.jpg"
/> -->

<meta
  property="og:image"
  content="https://demo.ad.megais.com/fubon/202202/images/fb_share.jpg"
/>
<!-- fb 分享設定 end -->

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-W78ZPJK');
</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-131426079-2"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-131426079-2');
</script>

<!-- lib css -->

<!-- build:css ./styles/common.css -->
<link rel="stylesheet" href="./styles/common.css" />
<!-- endbuild -->

<!-- lib js -->
<script src="./lib/js/jquery-3.4.1.min.js"></script>

<!-- build:js ./scripts/tracking.js -->
<script src="./scripts/tracking.js"></script>
<!-- endbuild -->

<!-- build:js ./scripts/common.js -->
<script src="./scripts/common.js"></script>
<!-- endbuild -->
